#myCarousel{
    min-height: 100px;
}
.carousel-indicators li{
    width: 8px;
    height: 8px;
    margin: 0 4px 0;
    background-color: rgba(0,0,0,0.23);
    opacity: 0.23;
    border: none;
}
.carousel-indicators .active{
    width: 8px;
    height: 8px;
    margin: 0 4px 0;
    background-color: #22891d;
    opacity: 1;
}
.carousel-indicators{
    border-bottom: 0;
}
.my-carousel-left{
    position: absolute;
    height: auto;
    top: 50%;
    left: 47px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width:85px;
    height: 85px;
}
.my-carousel-right{
    position: absolute;
    height: auto;
    top: 50%;
    right: 47px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 85px;
    height: 85px;
}
.inner-container{
    width: 1114px;
    margin: 0 auto;
}

.panel-list{
    width: 1114px;
    padding: 35px 55px;
    background-color: #ffffff;
}

.active-title{
    font-size: 14px;
    line-height: 1;
    padding-top: 25px;
    padding-bottom: 21px;
}
.active-items{
    width: 100%;
    position: relative;
    padding: 39px 58px 58px 630px;
    color: #333;
    height: 350px;
    margin-bottom: 24px;
    border-bottom: 1px solid #EEEEEE
}
.active-items img{
    position: absolute;
    left: 0;
    top: 0;
    width:561px;
    height: 323px;
}
.active-items .active-name{
    font-size: 22px;
    color: #333333;
}
.active-items .push-time{
    font-size: 14px;
    margin-top: 7px;
    letter-spacing: 0;
}
.active-items .active-subheader{
    font-size: 14px;
    margin-top: 19px;
}

.active-items .join-btn{
    width: 200px;
    height: 40px;
    background-color: #22891d;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    margin: 52px auto 0;
    cursor: pointer;
}