@charset "utf-8";
.one-tag{
    color: red;
    margin-left: 100px;
}

.platform-character{
    width: 1114px;
    background-color: #ffffff;
    margin: 0 auto;
    position: relative;
    color: #333333;
}

.platform-character .plat-panel{
    position: absolute;
    top: -91px;
    left: 0;
    width: 100%;
    width: 1114px;
    height: 308px;
    background-color: #ffffff;
    -moz-box-shadow:0 2px 40px 0 rgba(0,0,0,0.04);
    -webkit-box-shadow:0 2px 40px 0 rgba(0,0,0,0.04);
    box-shadow: 0 2px 40px 0 rgba(0,0,0,0.04);
    text-align: center;
}

.platform-character .plat-panel img{
    width: 90px;
    height: 90px;
    vertical-align: top;
}

.platform-character .plat-panel .a-special-item{
    padding-top: 70px;
}

.plat-panel .a-special-item .s-title{
    margin-top: 34px;
    font-size: 20px;
    line-height: 1;
}
.plat-panel .a-special-item .s-sub-title{
    font-size: 16px;
    line-height: 1;
    margin-top: 16px;
}

.index-second-panel{
    width: 100%;
    margin-top: 290px;
    background-color: #ffffff;
    padding-top: 51px;
    padding-bottom: 64px;
}

.index-second-panel .panel-title{
    font-size: 26px;
    text-align: center;
    line-height: 1;
}

.index-second-panel .pro-panel{
    width: 1150px;
    margin: 38px auto 0;
}

.index-second-panel .pro-panel .index-pro{
    position: relative;
    width: 334px;
    height: 500px;
    margin: 0 auto 80px;
    -moz-box-shadow:0 2px 60px 0 rgba(0,0,0,0.08);
    -webkit-box-shadow:0 2px 60px 0 rgba(0,0,0,0.08);
    box-shadow: 0 2px 60px 0 rgba(0,0,0,0.08);
}

.index-pro img{
    width: 100%;
    vertical-align: top;
}

.index-pro .index-pro-name{
    font-size: 18px;
    padding-left: 30px;
    line-height: 1;
    margin-top: 20px;
}
.index-pro .index-pro-zq{
    margin-top: 4px;
    font-size: 14px;
    color: #999999;
    letter-spacing: 0;
    padding-left: 30px;
}
.index-pro .index-pro-price{
    margin-top: 14px;
    font-size: 14px;
    color: #333333;
    line-height: 45px;
    padding-left: 30px;
}
.index-pro .unit-price{
    font-size: 28px;
    color: #F12740;
    letter-spacing: 0;
}

.index-pro .surplus{
    color: #103B00;
}

.index-pro .index-pro-line{
    border-bottom: 1px solid #EDEDED;
    margin: 20px 34px 21px;
}

.index-pro .invest-attr{
    width: 100%;
    padding: 0 34px;
}

.index-pro .invest-attr table{
    width: 100%;
}
.index-pro .invest-attr table .table-title{
    font-size: 14px;
    text-align: center;
    color: #999999;
}
.index-pro .invest-attr table .table-body{
    font-size: 26px;
    text-align: center;
    color: #333333;
    padding-top: 5px;
    line-height: 42px;
}

.index-pro .invest-attr table img{
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

.index-pro .index-pro-buy{
    width: 183px;
    height: 45px;
    line-height: 44px;
    text-align: center;
    background-color: #22891D;
    -moz-box-shadow: 0 2px 80px 0 rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 2px 80px 0 rgba(0,0,0,0.15);
    box-shadow: 0 2px 80px 0 rgba(0,0,0,0.15);
    font-size: 16px;
    color: #ffffff;
    margin-left: 75px;
    margin-top: 12px;
}

.index-second-panel .see-more{
    text-align: center;
}

.index-second-panel .see-more a{
    text-decoration: none;
    font-size: 16px;
    color: #333333;
    line-height: 1;
}