.invest-container{
    width: 1115px;
    margin: 0 auto;
    color: #333333;
}

.invest-container .invest-title{
    font-size: 14px;
    margin-top: 25px;
}

.invest-container .filter-panel{
    width: 1115px;
    height: 203px;
    background-color: #ffffff;
    margin-top: 22px;
    padding: 15px 20px;
}

.filter-panel .filter-line{
    font-size: 0;
    margin-bottom: 10px;
}

.filter-panel .name-value{
    font-size: 14px;
    color: #333333;
    display: inline-block;
    padding-left: 14px;
    padding-right: 14px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

.filter-order{
    margin-top: 15px;
    padding-top: 15px;
    line-height: 30px;
    border-top: 1px solid #eeeeee;
    font-size: 0;
}

.filter-order .order-value{
    font-size: 14px;
    padding-left: 14px;
    padding-right: 14px;
    height: 30px;line-height: 30px;
    display: inline-block;
    cursor: pointer;
}

.filter-order .active{
    background-color: #198514;
    color: #ffffff;
}

.filter-panel .active{
    background-color: #198514;
    color: #ffffff;
}

.filter-panel .filter-name{
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #999999;
    letter-spacing: 0;
    display: inline-block;
    height: 30px;
    width: 72px;
    cursor: pointer;
    line-height: 29px;
    margin-right: 12px;
}


.invest-container .invest-panel{
    margin-top: 10px;
    min-height: 200px;
    width: 100%;
    background-color: #ffffff;
    padding: 23px 6px 55px 40px;
    margin-bottom: 102px;
}

.invest-panel .all-invest{
    font-size: 26px;
    text-align: center;
    padding-right: 34px;
}

.invest-panel .search-invest{
    font-size: 14px;
    color: #999999;
    margin-right: 34px;
}

.search-result-num{
    float: right;
    font-size: 14px;
}

.invest-panel .pro-list{
    width: 100%;
    margin-top: 40px;
    font-size: 0;
}

.pro-list .invest-product{
    margin-bottom: 48px;
    width: 322px;
    height: 480px;
    margin-right: 34px;
    display: inline-block;
    vertical-align: top;
    background: #FFFFFF;
    -webkit-box-shadow: 0 2px 60px 0 rgba(0,0,0,0.08);
    -o-box-shadow: 0 2px 60px 0 rgba(0,0,0,0.08);
    -moz-box-shadow: 0 2px 60px 0 rgba(0,0,0,0.08);
    box-shadow: 0 2px 60px 0 rgba(0,0,0,0.08);
}

.invest-product img{
    width: 100%;
    vertical-align: top;
}

.invest-product .index-pro-name{
    font-size: 18px;
    padding-left: 28px;
    line-height: 1;
    margin-top: 18px;
}
.invest-product .index-pro-zq{
    margin-top: 4px;
    font-size: 14px;
    color: #999999;
    letter-spacing: 0;
    padding-left: 28px;
}
.invest-product .index-pro-price{
    margin-top: 14px;
    font-size: 14px;
    color: #333333;
    line-height: 40px;
    padding-left: 28px;
}
.invest-product .unit-price{
    font-size: 28px;
    color: #F12740;
    letter-spacing: 0;
}

.invest-product .surplus{
    color: #103B00;
}

.invest-product .index-pro-line{
    border-bottom: 1px solid #EDEDED;
    margin: 13px 34px 19px;
}

.invest-product .invest-attr{
    width: 100%;
    padding: 0 34px;
}

.invest-product .invest-attr table{
    width: 100%;
}
.invest-product .invest-attr table .table-title{
    font-size: 14px;
    text-align: center;
    color: #999999;
}
.invest-product .invest-attr table .table-body{
    font-size: 26px;
    text-align: center;
    color: #333333;
    padding-top: 5px;
    line-height: 42px;
}

.invest-product .invest-attr table img{
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

.invest-product .index-pro-buy{
    width: 176px;
    height: 43px;
    line-height: 42px;
    text-align: center;
    background-color: #22891D;
    -moz-box-shadow: 0 2px 80px 0 rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 2px 80px 0 rgba(0,0,0,0.15);
    box-shadow: 0 2px 80px 0 rgba(0,0,0,0.15);
    font-size: 16px;
    color: #ffffff;
    margin-left: 75px;
    margin-top: 16px;
}


