@charset "utf-8";
html,body{
    width: 100%;
    height: 100%;
    min-height: 768px;
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    background-color: #f8f9f9;
}

#header{
    width: 1263px;
    height: 80px;
    margin: 0 auto;
}

.header-logo{
    float: left;
    margin-top: 10px;
    padding-left: 49px;
    height: 58px;
    line-height: 56px;
    font-size: 20px;
    color: #009744;
    background: url("../images/logo.png") left top no-repeat;
    cursor: pointer;
}

#body{
    width: 1263px;
    margin: 0 auto;
    color: #333333;
}

.login-panel{
    width: 100%;
}
.login-panel .login-register{
    width: 430px;
    margin: 0 auto 0;
    font-size: 0;
    text-align: center;
}

.login-panel .forget-title{
    text-align: center;
    font-size: 18px;
    color: #333333;
}

.login-panel .login-register .user-login{
    font-size: 18px;
    display: inline-block;
    height: 54px;
    width: 50%;
}
.user-login a{
    text-decoration: none;
    color: #333333;
    display: block;
    height: 100%;
    width: 37px;
    float: right;
    margin-right: 41px;
    line-height: 54px;
}
.log-active{
    border-bottom: 3px solid #009744;
}
.login-panel .login-register .user-register{
    font-size: 18px;
    display: inline-block;
    width: 50%;
    height: 54px;
    clear: both;
}

.user-register a{
    text-decoration: none;
    color: #333333;
    display: block;
    height: 100%;
    width: 37px;
    line-height: 54px;
    float: left;
    margin-left: 41px;
}

.login-panel .input-info{
    width: 430px;
    height: 50px;
    position: relative;
    margin-top: 10px;
    margin-left: 420px;
}

.input-info .user-icon{
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 47px;
    background: url('../images/lock.png') no-repeat center;
}

.input-info .get-code{
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    background-color: #009744;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    width: 100px;
    line-height: 50px;
}

.login-panel .input-info input{
    width: 430px;
    height: 50px;
    padding-left: 47px;
    font-size: 14px;
    border: none;
    background-color: #ffffff;
    border: 1px solid #ffffff;
}

.input-info .login-btn{
    margin-top: 30px;
    width: 100%;
    height: 55px;
    width: 430px;
    font-size: 18px;
    line-height: 55px;
    color: #ffffff;
    text-align: center;
    background-color: #009744;
    cursor: pointer;
}

.input-info a{
    margin-top: 4px;
    text-decoration: none;
    color: #999999;
    font-size: 14px;
}

#footer{
    width: 100%;
    height: 220px;
    background-color: #6A6F74;
    min-width: 1226px;
    position: absolute;
    left: 0;
    bottom: 40px;
}
.footer-container {
    padding: 0;
    height: 100%;
    width: 1226px;
    position: relative;
    padding-left: 56px;
    padding-right: 56px;
}
.other-links{
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    margin-right: 48px;
    margin-top: 67px;
}
.other-links .footer-title{
    font-size: 16px;
    margin-bottom: 29px;
    color: #ffffff;
    letter-spacing: 0;
}
.other-links .footer-item{
    font-family: PingFang-Medium;
    color: #ffffff;
    margin-bottom: 14px;
    letter-spacing: 0;
}
.other-links .footer-item a{
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}
.other-links .footer-item a:hover{
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}
.other-links .footer-item a:focus{
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}

.app-download{
    float: right;
    text-align: center;
    font-size: 14px;
    margin-top: 64px;
    margin-left: 25px;
    color: #ffffff;
}


.app-download img{
    width: 100px;
    height: 100px;
    margin-bottom: 19px;
}

.copy-right{
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 12px;
    height: 40px;
    background-color: #6A6F74;
}