html,body{
    padding: 0;
    margin: 0;
    font-family: PingFang SC,Microsoft YaHei,Arial;
    background-color: #f8f9f9;
}
.container{
    width: 1226px;
}
#header{
    height: 80px;
    width: 100%;
    background-color: #ffffff;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
    position: relative;
}
.header-container{
    padding: 0;
    height: 100%;
}

.header-logo{
    float: left;
    margin-top: 10px;
    padding-left: 49px;
    height: 58px;
    line-height: 56px;
    font-size: 20px;
    color: #009744;
    background: url("../images/logo.png") left top no-repeat;
    cursor: pointer;
}
.header-logo a{
    text-decoration: none;
    color: #009744;
}
.header-logo a:hover{
    text-decoration: none;
    color: #009744;
}
.header-tabs{
    float: left;
    height: 100%;
}
.tabs{
    font-size: 14px;
    list-style: none;
    float: left;
    color: #333;
    height: 78px;
    line-height: 78px;
    margin-left: 52px;
    box-sizing: border-box;
}
.tabs a{
    color: #333;
}
.tabs a:hover{
    text-decoration: none;
    color: #198514;
}
.tabs a:focus{
    text-decoration: none;
}
.user-center{
    float: right;
    margin-top: 27px;
    color: #333;
    font-size: 14px;
}
#body{
    width: 100%;
    clear: both;
    min-width: 1226px;
}
.body-container{
    padding: 0;
    margin: 0 auto;
    position: relative;
}
/*内容区内部的公共面板*/
.inner-panel{
    width: 1113px;
    background-color: #ffffff;
}

#footer{
    width: 100%;
    height: 245px;
    background-color: #6A6F74;
    min-width: 1226px;
}
.footer-container {
    padding: 0;
    height: 100%;
    width: 1226px;
    position: relative;
}
.other-links{
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    margin-right: 99px;
    margin-top: 75px;
}
.other-links .footer-title{
    font-size: 18px;
    margin-bottom: 29px;
    color: #ffffff;
    letter-spacing: 0;
}
.other-links .footer-item{
    font-family: PingFang-Medium;
    color: #ffffff;
    margin-bottom: 21px;
    letter-spacing: 0;
}
.other-links .footer-item a{
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}
.other-links .footer-item a:hover{
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}
.other-links .footer-item a:focus{
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}

.app-download{
    float: right;
    text-align: center;
    font-size: 18px;
    margin-top: 54px;
    margin-left: 56px;
    color: #ffffff;
}


.app-download img{
    width: 144px;
    height: 144px;
    margin-bottom: 21px;
}

.copy-right{
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 16px;
    height: 63px;
    background-color: #6A6F74;
}

/*轮播图样式*/
#myCarousel{
    min-height: 100px;
}
.carousel-indicators li{
    width: 8px;
    height: 8px;
    margin: 0 4px 0;
    background-color: rgba(0,0,0,0.23);
    opacity: 0.23;
    border: none;
}
.carousel-indicators .active{
    width: 8px;
    height: 8px;
    margin: 0 4px 0;
    background-color: #22891d;
    opacity: 1;
}
.carousel-indicators{
    border-bottom: 0;
}
.my-carousel-left{
    position: absolute;
    top: 50%;
    left: 47px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width:50px;
    height: 50px;
}

.my-carousel-left img{
    width: 100%;
    height: 100%;
}
.my-carousel-right{
    position: absolute;
    top: 50%;
    right: 47px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
}

.my-carousel-right img{
    width: 100%;
    height: 100%;
}

/*分页效果*/
#Pagination{
    text-align: center;
    height: 35px;
    margin-top: 19px;
    padding-left: 260px;
}
#Pagination a{
    font-size: 14px;
    color: #333333;
    float: left;
    margin: 0 5px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #fff;
    text-align: center;
    border: 1px solid #E4E4E4;
}

#Pagination .active{
    float: left;
    margin: 0 5px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #22891D;
    text-align: center;
    border: 1px solid gainsboro;
    color: #ffffff;
}

#Pagination .jump-btn{
    width: 70px;
    height: 35px;
    float: left;
}

#Pagination .jump-ipt{
    width: 35px;
    height: 35px;
    float: left;
}

#Pagination .to-jump1{
    float: left;
    height: 35px;
    line-height: 35px;
    margin-left: 40px;
    margin-right: 9px;

}

#Pagination .to-jump2{
    float: left;
    height: 35px;
    line-height: 35px;
    margin-left: 15px;
    margin-right: 13px;

}
