<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>常见问题</title>
    <link rel="stylesheet" href="../../lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/about.css">
</head>
<body>
<div id="header">
    <div class="header-container">
        <div class="header-logo">伊牧云</div>
        <div class="header-tabs">
            <div class="tabs"><a href="../../index.html">首页</a></div>
            <div class="tabs"><a href="../../invest.html">投资认领</a></div>
            <div class="tabs"><a href="../../transfer.html">转让抢购</a></div>
            <div class="tabs"><a href="../../active.html">活动专区</a></div>
            <div class="tabs"><a href="../../marks.html">积分商城</a></div>
            <div class="tabs" style="border-bottom: 4px solid #198514"><a style="color: #198514" href="javascript:void(0)">关于平台</a></div>
            <div class="tabs"><a href="../../notice.html">公告</a></div>
            <!--<div class="tabs"><a href="./center.html">个人中心</a></div>-->
        </div>
        <div class="user-center">
            墨年的牧场
            <img src="../../images/mine-down.png" style="height: 14px;">
        </div>
    </div>
</div>
<div id="body">
    <div class="about-panel">
        <div class="about-left">
            <div class="about-menu">
                <div id="plat" class="a-menu">
                    <a href="../../about.html">平台介绍</a>
                </div>
                <div id="ymy" class="a-menu">
                    <a href="./yimuyun.html">伊牧云介绍</a>
                </div>
                <div id="question" class="a-menu a-menu-active">
                    <a href="javascript:void(0)">常见问题</a>
                </div>
                <div id="study" class="a-menu">
                    <a href="./study.html">预约考察</a>
                </div>
            </div>
        </div>
        <div class="about-right">
            <div class="about-platform about-ymy">
                <div class="about-title">
                    随马刺队获得NBA总冠军
                </div>
                <div class="about-time">
                    2014-06-25
                </div>
                <img src="../../images/active-detail.png">
                <div class="img-name">
                    图片1
                </div>
                <div>
                    科怀·伦纳德于2011年通过选秀进入NBA，2011-12赛季入选最佳新秀阵容第一阵容；2013-14赛季入选最佳防守阵容第二阵容，随马刺队获得NBA总冠军，并荣膺总决赛最有价值球员；2014-15赛季当选最佳防守球员并入选最佳防守阵容第一阵容；2015-16赛季入选全明星西部首发阵容，入选最佳阵容第一阵容，蝉联最佳防守球员并全票入选最佳防守阵容第一阵容；2016-17赛季入选全明星西部首发阵容，入选最佳阵容第一阵容和最佳防守阵容第一阵容。科怀·伦纳德于2011年通过选秀进入NBA，2011-12赛季入选最佳新秀阵容第一阵容；2013-14赛季入选最佳防守阵容第二阵容，随马刺队获得NBA总冠军，并荣膺总决赛最有价值球员；2014-15赛季当选最佳防守球员并入选最佳防守阵容第一阵容；2015-16赛季入选全明星西部首发阵容，入选最佳阵容第一阵容，蝉联最佳防守球员并全票入选最佳防守阵容第一阵容；2016-17赛季入选全明星西部首发阵容，入选最佳阵容第一阵容和最佳防守阵容第一阵容。
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="container footer-container">
        <div class="other-links">
            <div class="footer-title">关于我们</div>
            <div class="footer-item"><a href="javascript:void(0)">平台介绍</a></div>
            <div class="footer-item"><a href="javascript:void(0)">伊牧云</a></div>
        </div>
        <div class="other-links">
            <div class="footer-title">预约考察</div>
            <div class="footer-item"><a href="javascript:void(0)">法律声明</a></div>
        </div>
        <div class="other-links">
            <div class="footer-title">帮助中心</div>
            <div class="footer-item"><a href="javascript:void(0)">常见问题</a></div>
        </div>
        <div class="other-links">
            <div class="footer-title">相关链接</div>
            <div class="footer-item"><a href="javascript:void(0)">追溯监管</a></div>
            <div class="footer-item"><a href="javascript:void(0)">活畜交易</a></div>
        </div>
        <div class="app-download">
            <div class="app-ma">
                <img class="img1" src="../../images/1503393434.png">
                <div>微信公众号</div>
            </div>
        </div>
        <div class="app-download">
            <div class="app-ma">
                <img class="img1" src="../../images/1503393434.png">
                <div>手机APP</div>
            </div>
        </div>
    </div>
    <div class="copy-right">©ALIMAMA MUX, powered by alimama THX.法律声明</div>
</div>
<div class="attach-tools">
    <div class="phone-ask">
        <img src="../../images/phone-ask.png">
    </div>
    <div class="qq-ask">
        <img src="./../../images/qq-ask.png">
    </div>
    <div class="to-top">
        <img src="../../images/back-top.png">
    </div>
</div>
<script src="../../lib/jquery-3.0.0.min.js"></script>
<script src="../../lib/js/bootstrap.min.js"></script>
<script src="../../lib/jquery.pagination.js"></script>
<script src="../../js/public.js"></script>
<script src="../../js/about.js"></script>
</body>
</html>