<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>预约考察</title>
    <link rel="stylesheet" href="../../lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/about.css">
</head>
<body>
<div id="header">
    <div class="header-container">
        <div class="header-logo">伊牧云</div>
        <div class="header-tabs">
            <div class="tabs"><a href="../../index.html">首页</a></div>
            <div class="tabs"><a href="../../invest.html">投资认领</a></div>
            <div class="tabs"><a href="../../transfer.html">转让抢购</a></div>
            <div class="tabs"><a href="../../active.html">活动专区</a></div>
            <div class="tabs"><a href="../../marks.html">积分商城</a></div>
            <div class="tabs" style="border-bottom: 4px solid #198514"><a style="color: #198514" href="javascript:void(0)">关于平台</a></div>
            <div class="tabs"><a href="../../notice.html">公告</a></div>
            <!--<div class="tabs"><a href="./center.html">个人中心</a></div>-->
        </div>
        <div class="user-center">
            墨年的牧场
            <img src="../../images/mine-down.png" style="height: 14px;">
        </div>
    </div>
</div>
<div id="body">
    <div class="about-panel">
        <div class="about-left">
            <div class="about-menu">
                <div id="plat" class="a-menu">
                    <a href="../../about.html">平台介绍</a>
                </div>
                <div id="ymy" class="a-menu">
                    <a href="./yimuyun.html">伊牧云介绍</a>
                </div>
                <div id="question" class="a-menu">
                    <a href="./questions.html">常见问题</a>
                </div>
                <div id="study" class="a-menu a-menu-active">
                    预约考察
                </div>
            </div>
        </div>
        <div class="about-right">
            <div class="appoint-study">
                <div class="input-form">
                    <table>
                        <tr class="name-phone">
                            <td>姓名</td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>
                        <tr class="name-phone" style="margin-top: 25px;">
                            <td>联系方式</td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>
                        <tr class="stay-info">
                            <td valign="top" style="padding-top: 13px;">考察内容</td>
                            <td valign="top" style="padding-top: 13px;">
                                <textarea></textarea>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="stay-join-btn">
                    立即参与
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="container footer-container">
        <div class="other-links">
            <div class="footer-title">关于我们</div>
            <div class="footer-item"><a href="javascript:void(0)">平台介绍</a></div>
            <div class="footer-item"><a href="javascript:void(0)">伊牧云</a></div>
        </div>
        <div class="other-links">
            <div class="footer-title">预约考察</div>
            <div class="footer-item"><a href="javascript:void(0)">法律声明</a></div>
        </div>
        <div class="other-links">
            <div class="footer-title">帮助中心</div>
            <div class="footer-item"><a href="javascript:void(0)">常见问题</a></div>
        </div>
        <div class="other-links">
            <div class="footer-title">相关链接</div>
            <div class="footer-item"><a href="javascript:void(0)">追溯监管</a></div>
            <div class="footer-item"><a href="javascript:void(0)">活畜交易</a></div>
        </div>
        <div class="app-download">
            <div class="app-ma">
                <img class="img1" src="../../images/1503393434.png">
                <div>微信公众号</div>
            </div>
        </div>
        <div class="app-download">
            <div class="app-ma">
                <img class="img1" src="../../images/1503393434.png">
                <div>手机APP</div>
            </div>
        </div>
    </div>
    <div class="copy-right">©ALIMAMA MUX, powered by alimama THX.法律声明</div>
</div>
<div class="attach-tools">
    <div class="phone-ask">
        <img src="../../images/phone-ask.png">
    </div>
    <div class="qq-ask">
        <img src="./../../images/qq-ask.png">
    </div>
    <div class="to-top">
        <img src="../../images/back-top.png">
    </div>
</div>
<script src="../../lib/jquery-3.0.0.min.js"></script>
<script src="../../lib/js/bootstrap.min.js"></script>
<script src="../../js/public.js"></script>
<script src="../../js/about.js"></script>
</body>
</html>