<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>活动专区</title>
    <link rel="stylesheet" href="../../lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/active.css">
</head>
<body>
<div id="header">
    <div class="header-container">
        <div class="header-logo">伊牧云</div>
        <div class="header-tabs">
            <div class="tabs"><a href="../../index.html">首页</a></div>
            <div class="tabs"><a href="../../invest.html">投资认领</a></div>
            <div class="tabs"><a href="../../transfer.html">转让抢购</a></div>
            <div class="tabs" style="border-bottom: 4px solid #198514"><a style="color: #198514" href="javascript:void(0)">活动专区</a></div>
            <div class="tabs"><a href="../../marks.html">积分商城</a></div>
            <div class="tabs"><a href="../../about.html">关于平台</a></div>
            <div class="tabs"><a href="../../notice.html">公告</a></div>
        </div>
        <div class="user-center">
            墨年的牧场
            <img src="../../images/mine-down.png" style="height: 14px;">
        </div>
    </div>
</div>
<div id="body">
    <div id="myCarousel" class="carousel slide">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="../../images/active-banner.jpg" style="width: 100%" alt="First slide">
                <!--<div class="carousel-caption>标题 1</div>-->
            </div>
            <div class="item">
                <img src="../../images/active-banner.jpg" style="width: 100%" alt="Second slide">
                <!--<div class="carousel-caption">标题 2</div>-->
            </div>
            <div class="item">
                <img src="../../images/active-banner.jpg" style="width: 100%" alt="Third slide">
                <!--<div class="carousel-caption">标题 3</div>-->
            </div>
        </div>
        <!-- 轮播（Carousel）导航 -->
        <a class="my-carousel-left" href="#myCarousel"
           data-slide="prev">
            <img src="../../images/Group%209.png" alt="">
        </a>
        <a class="my-carousel-right" href="#myCarousel"
           data-slide="next">
            <img src="../../images/Group%202.png" alt="">
        </a>
    </div>
    <div class="container body-container">
        <div class="active-title">活动专区>活动详情</div>
        <div class="active-detail-container">
            <div class="active-detail-title">伊牧云牧场安格斯牛3个月投资</div>
            <div class="active-detail-time">2017-08-02</div>
            <div class="detail-img">
                <img src="../../images/active-detail.png">
                <div class="img-name">图片1</div>
            </div>
            <div class="active-desc">
                科怀·伦纳德于2011年通过选秀进入NBA，2011-12赛季入选最佳新秀阵容第一阵容；2013-14赛季入选最佳防守阵容第二阵容，随马刺队获得NBA总冠军，并荣膺总决赛最有价值球员；2014-15赛季当选最佳防守球员并入选最佳防守阵容第一阵容；2015-16赛季入选全明星西部首发阵容，入选最佳阵容第一阵容，蝉联最佳防守球员并全票入选最佳防守阵容第一阵容；2016-17赛季入选全明星西部首发阵容，入选最佳阵容第一阵容和最佳防守阵容第一阵容。2009-10赛季，作为一名新秀，伦纳德创造了多项纪录。他在34场比赛中场均得到12.7分和9.9个篮板，两项数据均在队内排名第一，成为全美4位得分篮板领衔全队的大一新生之一。总共得到过17次两双，打破了迈克尔·凯奇在1981年创造的10次两双的队史纪录。他在西部山区联盟的篮板榜上排名第一位。2009年12月9日，在同加利福尼亚州立大学富尔顿分校的比赛中得到了23分和18个篮板，平了西部山区联盟大一新人的单场篮板纪录。2010年3月13日，在同内华达大学拉斯维加斯分校的西部山区锦标赛决赛中，伦纳德得到16分和21个篮板，21个篮板创造了西部山区联盟锦标赛的历史纪录。赛季结束后伦纳德被评为西部山区联盟的MVP并入选了最佳阵容，他是西部山区联盟第一位入选第一阵容的大一新生。
            </div>
            <div class="live-contact">
                <!--<div class="line"></div>-->
                <!--<div class="line-title">填写信息</div>-->
                <!--<form class="form-horizontal" style="margin-top: 79px">-->
                    <!--<div class="form-group" style="margin-bottom: 45px">-->
                        <!--<label class="col-sm-offset-3 col-sm-2 control-label" style="text-align: center;font-size: 16px;line-height: 35px;color: #333333">姓名</label>-->
                        <!--<div class="col-sm-4">-->
                            <!--<input class="form-control" placeholder="请输入联系方式">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group" style="margin-bottom: 0">-->
                        <!--<label for="inputPassword" class="col-sm-offset-3 col-sm-2 control-label" style="text-align: center;font-size: 16px;line-height: 35px;color: #333333">联系方式</label>-->
                        <!--<div class="col-sm-4">-->
                            <!--<input class="form-control" placeholder="请输入联系方式">-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</form>-->
                <div class="detail-join-btn">立即参与</div>
            </div>
        </div>

    </div>
</div>
<div id="footer">
    <div class="container footer-container">
        <div class="other-links">
            <div class="footer-title">关于我们</div>
            <div class="footer-item"><a href="javascript:void(0)">平台介绍</a></div>
            <div class="footer-item"><a href="javascript:void(0)">伊牧云</a></div>
        </div>
        <div class="other-links">
            <div class="footer-title">预约考察</div>
            <div class="footer-item"><a href="javascript:void(0)">法律声明</a></div>
        </div>
        <div class="other-links">
            <div class="footer-title">帮助中心</div>
            <div class="footer-item"><a href="javascript:void(0)">常见问题</a></div>
        </div>
        <div class="other-links">
            <div class="footer-title">相关链接</div>
            <div class="footer-item"><a href="javascript:void(0)">追溯监管</a></div>
            <div class="footer-item"><a href="javascript:void(0)">活畜交易</a></div>
        </div>
        <div class="app-download">
            <div class="app-ma">
                <img class="img1" src="../../images/1503393434.png">
                <div>微信公众号</div>
            </div>
        </div>
        <div class="app-download">
            <div class="app-ma">
                <img class="img1" src="../../images/1503393434.png">
                <div>手机APP</div>
            </div>
        </div>

    </div>
    <div class="copy-right">©ALIMAMA MUX, powered by alimama THX.法律声明</div>
</div>
<div class="attach-tools">
    <div class="phone-ask">
        <img src="../../images/phone-ask.png">
    </div>
    <div class="qq-ask">
        <img src="./../../images/qq-ask.png">
    </div>
    <div class="to-top">
        <img src="../../images/back-top.png">
    </div>
</div>
<script src="../../lib/jquery-3.0.0.min.js"></script>
<script src="../../lib/js/bootstrap.min.js"></script>
<script src="../../js/public.js"></script>
<script src="../../js/active.js"></script>
</body>
</html>