<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>确认订单</title>
    <link rel="stylesheet" href="../../lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/invest.css">
</head>
<body>
<div id="header">
    <div class="header-container">
        <div class="header-logo">伊牧云</div>
        <div class="header-tabs">
            <div class="tabs"><a href="../../index.html">首页</a></div>
            <div class="tabs" style="border-bottom: 4px solid #198514"><a style="color: #198514" href="#">投资认领</a></div>
            <div class="tabs"><a href="../../transfer.html">转让抢购</a></div>
            <div class="tabs"><a href="../../active.html">活动专区</a></div>
            <div class="tabs"><a href="../../marks.html">积分商城</a></div>
            <div class="tabs"><a href="../../about.html">关于平台</a></div>
        </div>
        <div class="user-center">
            墨年的牧场
            <img src="../../images/mine-down.png" style="height: 14px;">
        </div>
    </div>
</div>
<div id="body">
    <div class="invest-order-panel">
        <div class="confirm-step">
            <div class="step-flag step-flag-active">1</div>
            <div class="step-analyse">确认订单信息</div>
            <div class="step-line"></div>
            <div class="step-flag">2</div>
            <div class="step-analyse">支付订单</div>
            <div class="step-line"></div>
            <div class="step-flag">3</div>
            <div class="step-analyse">认领完成</div>
        </div>
        <div class="confirm-panel">
            123
        </div>

    </div>
</div>
<!--<div id="footer">-->
    <!--<div class="container footer-container">-->
        <!--<div class="other-links">-->
            <!--<div class="footer-title">关于我们</div>-->
            <!--<div class="footer-item"><a href="javascript:void(0)">平台介绍</a></div>-->
            <!--<div class="footer-item"><a href="javascript:void(0)">伊牧云</a></div>-->
        <!--</div>-->
        <!--<div class="other-links">-->
            <!--<div class="footer-title">预约考察</div>-->
            <!--<div class="footer-item"><a href="javascript:void(0)">法律声明</a></div>-->
        <!--</div>-->
        <!--<div class="other-links">-->
            <!--<div class="footer-title">帮助中心</div>-->
            <!--<div class="footer-item"><a href="javascript:void(0)">常见问题</a></div>-->
        <!--</div>-->
        <!--<div class="other-links">-->
            <!--<div class="footer-title">相关链接</div>-->
            <!--<div class="footer-item"><a href="javascript:void(0)">追溯监管</a></div>-->
            <!--<div class="footer-item"><a href="javascript:void(0)">活畜交易</a></div>-->
        <!--</div>-->
        <!--<div class="app-download">-->
            <!--<div class="app-ma">-->
                <!--<img class="img1" src="../../images/1503393434.png">-->
                <!--<div>app下载</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="app-download">-->
            <!--<div class="app-ma">-->
                <!--<img class="img1" src="../../images/1503393434.png">-->
                <!--<div>app下载</div>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
    <!--<div class="copy-right">©ALIMAMA MUX, powered by alimama THX.法律声明</div>-->
<!--</div>-->
<script src="../../lib/jquery-3.0.0.min.js"></script>
<script src="../../lib/js/bootstrap.min.js"></script>
<script src="../../js/public.js"></script>
</body>
</html>