<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>确认订单</title>
    <link rel="stylesheet" href="../../lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/marks.css">
</head>
<body>
<div id="header">
    <div class="header-container">
        <div class="header-logo">伊牧云</div>
        <div class="header-tabs">
            <div class="tabs"><a href="../../index.html">首页</a></div>
            <div class="tabs"><a href="../../invest.html">投资认领</a></div>
            <div class="tabs"><a href="../../transfer.html">转让抢购</a></div>
            <div class="tabs"><a href="../../active.html">活动专区</a></div>
            <div class="tabs" style="border-bottom: 4px solid #198514"><a style="color: #198514" href="javascript:void(0)">积分商城</a></div>
            <div class="tabs"><a href="../../about.html">关于平台</a></div>
            <div class="tabs"><a href="../../notice.html">公告</a></div>
        </div>
        <div class="user-center">
            墨年的牧场
            <img src="../../images/mine-down.png" style="height: 14px;">
        </div>
    </div>
</div>
<div id="body">
    <div class="container body-container">
        <div class="inner-panel success-panel">
            <div class="confirm-title">确认订单</div>

            <div class="confirm-body">
                <div class="success-tip">
                    订单已确认
                </div>
                <div class="contact-service">您将在2-14个工作日内收到礼品，若有问题请联系客服</div>
                <img src="../../images/success-icon.png">
            </div>
            <div class="confirm-address" style="margin-top: 0;border-top: none">
                <div class="first-line">产品属性: 红色</div>
                <div class="second-line"> 数量: 1</div>
                <div class="second-line"> 运费: 平台包邮</div>
                <div class="recive-address">收货地址: 王同学 18810646632 北京 海淀区西土城路十号北京邮电大学</div>
                <div class="pro-price">
                    本次支付:<span>8000分</span>+<span>￥0</span>元
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="container footer-container">
        <div class="other-links">
            <div class="footer-title">关于我们</div>
            <div class="footer-item"><a href="javascript:void(0)">平台介绍</a></div>
            <div class="footer-item"><a href="javascript:void(0)">伊牧云</a></div>
        </div>
        <div class="other-links">
            <div class="footer-title">预约考察</div>
            <div class="footer-item"><a href="javascript:void(0)">法律声明</a></div>
        </div>
        <div class="other-links">
            <div class="footer-title">帮助中心</div>
            <div class="footer-item"><a href="javascript:void(0)">常见问题</a></div>
        </div>
        <div class="other-links">
            <div class="footer-title">相关链接</div>
            <div class="footer-item"><a href="javascript:void(0)">追溯监管</a></div>
            <div class="footer-item"><a href="javascript:void(0)">活畜交易</a></div>
        </div>
        <div class="app-download">
            <div class="app-ma">
                <img class="img1" src="../../images/1503393434.png">
                <div>手机APP</div>
            </div>
        </div>
        <div class="app-download">
            <div class="app-ma">
                <img class="img1" src="../../images/1503393434.png">
                <div>微信公众号</div>
            </div>
        </div>

    </div>
    <div class="copy-right">©ALIMAMA MUX, powered by alimama THX.法律声明</div>
</div>
<script src="../../lib/jquery-3.0.0.min.js"></script>
<script src="../../lib/js/bootstrap.min.js"></script>
<script src="../../js/public.js"></script>
</body>
</html>