<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>投资认领详情</title>
    <link rel="stylesheet" href="../../lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/prodetail.css">
    <!--<link rel="stylesheet" href="../../css/marks.css">-->
</head>
<body>
<div id="header">
    <div class="header-container">
        <div class="header-logo">伊牧云</div>
        <div class="header-tabs">
            <div class="tabs"><a href="../../index.html">首页</a></div>
            <div class="tabs" style="border-bottom: 4px solid #198514"><a style="color: #198514"
                                                                          href="javascript:void(0)">投资认领</a></div>
            <div class="tabs"><a href="../../transfer.html">转让抢购</a></div>
            <div class="tabs"><a href="../../active.html">活动专区</a></div>
            <div class="tabs"><a href="../../marks.html">积分商城</a></div>
            <div class="tabs"><a href="../../about.html">关于平台</a></div>
            <!--<div class="tabs"><a href="center.html">个人中心</a></div>-->
        </div>
        <div class="user-center">
            墨年的牧场
            <img src="../../images/mine-down.png" style="height: 14px;">
        </div>
    </div>
</div>

<div id="body">
    <!--<div id="myCarousel" class="carousel slide">-->
    <!--&lt;!&ndash; 轮播（Carousel）指标 &ndash;&gt;-->
    <!--<ol class="carousel-indicators">-->
    <!--<li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
    <!--<li data-target="#myCarousel" data-slide-to="1"></li>-->
    <!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
    <!--</ol>-->
    <!--&lt;!&ndash; 轮播（Carousel）项目 &ndash;&gt;-->
    <!--<div class="carousel-inner">-->
    <!--<div class="item active">-->
    <!--<img src="../../images/active-banner.jpg" style="width: 100%" alt="First slide">-->
    <!--&lt;!&ndash;<div class="carousel-caption>标题 1</div>&ndash;&gt;-->
    <!--</div>-->
    <!--<div class="item">-->
    <!--<img src="../../images/active-banner.jpg" style="width: 100%" alt="Second slide">-->
    <!--&lt;!&ndash;<div class="carousel-caption">标题 2</div>&ndash;&gt;-->
    <!--</div>-->
    <!--<div class="item">-->
    <!--<img src="../../images/active-banner.jpg" style="width: 100%" alt="Third slide">-->
    <!--&lt;!&ndash;<div class="carousel-caption">标题 3</div>&ndash;&gt;-->
    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; 轮播（Carousel）导航 &ndash;&gt;-->
    <!--<a class="my-carousel-left" href="#myCarousel"-->
    <!--data-slide="prev">-->
    <!--<img src="../../images/Group%209.png" alt="">-->
    <!--</a>-->
    <!--<a class="my-carousel-right" href="#myCarousel"-->
    <!--data-slide="next">-->
    <!--<img src="../../images/Group%202.png" alt="">-->
    <!--</a>-->
    <!--</div>-->

    <div class="container body-container">
        <div class="pro-title">投资认领>产品详情</div>
        <div class="marks-detail-container">
            <div class="marks-detial">
                <div class="pro-basic-info">
                    <div class="detail-title">宁夏安格斯牛（3个月）育牛投资</div>
                    <div class="pro-type-cycle">
                        产品品种:安格斯牛
                        <div class="pro-cytle">
                            产品周期: 11个月(2016/01-2016/12)
                        </div>
                    </div>
                    <div class="detail-mark-mail">
                        <div class="marks">认领价格:</div>
                        <div class="price"><span>8000</span>元/只</div>
                        <div class="how-to-get">如何获取积分?</div>
                        <br>
                        <div class="mail">月饲养管理费</div>
                        <div class="mail"><span style="margin-left: 17px;font-size:18px;color: #22891D">450</span> 元/月</div>
                        <br>
                        <div class="mail">单只最低收益</div>
                        <div class="mail"><span style="margin-left: 17px;font-size:18px;color: #22891D">450</span> 元/月</div>
                    </div>
                    <div class="classic">
                        <div class="classic-title">收益方式</div>
                        <div class="classic-style classic-style-active">浮动收益10%-14%</div>
                        <div class="classic-style">固定收益10%</div>
                    </div>
                    <div class="classic">
                        <div class="classic-title">称重服务</div>
                        <div class="classic-style classic-style-active">浮动收益10%-14%</div>
                        <div class="classic-style">固定收益10%</div>
                    </div>
                    <div class="buy-num">
                        <div class="num-title">认领数量</div>
                        <div class="plus-minus">
                            <div class="minus">
                                -
                            </div>
                            <input id="buy_num" type="tel" value="1">
                            <div class="plus">
                                +
                            </div>
                        </div>
                        <div class="animal-surplus">
                            剩余70只
                        </div>
                    </div>
                    <div class="buy-num">
                        <div class="num-title">饲养管理费</div>
                        <div class="plus-minus">
                            <div class="minus">
                                -
                            </div>
                            <input id="manage-expense" type="tel" value="1">
                            <div class="plus">
                                +
                            </div>
                        </div>
                        <div class="animal-surplus">
                            共11个月
                        </div>
                    </div>
                    <div class="detial-join-btn">
                        <a href="./confirm.html">立即参与</a>
                    </div>
                    <div class="agree-deal">我已经阅读并同意《XX协议》</div>
                </div>
                <div class="camera-buy">
                    <div class="add-follow">
                        添加关注
                    </div>
                    <div class="breed-company">
                        <div class="company-name">样哈吉养殖公司</div>
                        <div>查看环境监测数据</div>
                        <div>查看监控视频</div>
                    </div>
                </div>
                <div class="detail-images">
                    <div class="show-img">
                        <img id="bigImg" src="../../images/cattle1.png">
                    </div>
                    <div class="frame" id="cyclepages">
                        <ul class="clearfix">
                            <li class="imgpar"><img src="../../images/img-small.jpg"></li>
                            <li class="imgpar"><img src="../../images/img-small.jpg"></li>
                            <li class="imgpar"><img src="../../images/img-small.jpg"></li>
                            <li class="imgpar"><img src="../../images/img-small.jpg"></li>
                            <li class="imgpar"><img src="../../images/img-small.jpg"></li>
                            <li class="imgpar"><img src="../../images/img-small.jpg"></li>
                            <li class="imgpar"><img src="../../images/img-small.jpg"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="detail-intro">
                <div class="pro-detail-title">
                    产品详情
                </div>
                <div class="pro-detail-imgs">

                </div>
            </div>
        </div>
    </div>

</div>
<div id="footer">
    <div class="container footer-container">
        <div class="other-links">
            <div class="footer-title">关于我们</div>
            <div class="footer-item"><a href="javascript:void(0)">平台介绍</a></div>
            <div class="footer-item"><a href="javascript:void(0)">伊牧云</a></div>
        </div>
        <div class="other-links">
            <div class="footer-title">预约考察</div>
            <div class="footer-item"><a href="javascript:void(0)">法律声明</a></div>
        </div>
        <div class="other-links">
            <div class="footer-title">帮助中心</div>
            <div class="footer-item"><a href="javascript:void(0)">常见问题</a></div>
        </div>
        <div class="other-links">
            <div class="footer-title">相关链接</div>
            <div class="footer-item"><a href="javascript:void(0)">追溯监管</a></div>
            <div class="footer-item"><a href="javascript:void(0)">活畜交易</a></div>
        </div>
        <div class="app-download">
            <div class="app-ma">
                <img class="img1" src="../../images/1503393434.png">
                <div>app下载</div>
            </div>
        </div>
        <div class="app-download">
            <div class="app-ma">
                <img class="img1" src="../../images/1503393434.png">
                <div>app下载</div>
            </div>
        </div>

    </div>
    <div class="copy-right">©ALIMAMA MUX, powered by alimama THX.法律声明</div>
</div>
<script src="../../lib/jquery-3.0.0.min.js"></script>
<script src="../../lib/js/bootstrap.min.js"></script>
<script src="../../lib/plugins.js"></script>
<script src="../../lib/sly.min.js"></script>
<script src="../../js/public.js"></script>
<script src="../../js/marks.js"></script>
</body>
</html>