<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>确认订单</title>
    <link rel="stylesheet" href="../../lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/invest.css">
</head>
<body>
<div id="header">
    <div class="header-container">
        <div class="header-logo">伊牧云</div>
        <div class="header-tabs">
            <div class="tabs"><a href="../../index.html">首页</a></div>
            <div class="tabs" style="border-bottom: 4px solid #198514"><a style="color: #198514" href="#">投资认领</a></div>
            <div class="tabs"><a href="../../transfer.html">转让抢购</a></div>
            <div class="tabs"><a href="../../active.html">活动专区</a></div>
            <div class="tabs"><a href="../../marks.html">积分商城</a></div>
            <div class="tabs"><a href="../../about.html">关于平台</a></div>
            <div class="tabs"><a href="../../notice.html">公告</a></div>
        </div>
        <div class="user-center">
            墨年的牧场
            <img src="../../images/mine-down.png" style="height: 14px;">
        </div>
    </div>
</div>
<div id="body">
    <div class="invest-order-panel" style="margin-bottom: 223px;">
        <div class="confirm-step">
            <div class="step-flag step-flag-active">1</div>
            <div class="step-analyse">确认订单信息</div>
            <div class="step-line step-line-active"></div>
            <div class="step-flag step-flag-active">2</div>
            <div class="step-analyse">支付订单</div>
            <div class="step-line"></div>
            <div class="step-flag">3</div>
            <div class="step-analyse">认领完成</div>
        </div>
        <div class="confirm-panel confirm-success-panel" style="padding-bottom: 30px">
            <div class="success-title">确认订单</div>
            <div class="invest-pro-detail">
                <div class="order-submit-success">
                    订单提交成功，请尽快付款！订单号：125433765756
                </div>
                <div class="invest-pro-name">
                    宁夏安格斯牛（3个月大）育牛投资
                </div>
                <div class="order-pro-detail">
                    <div class="one-detail-item">
                        收益方式：浮动收益8%~14%
                    </div>
                    <div class="one-detail-item">
                        认领数量：1只
                    </div>
                    <div class="one-detail-item">
                        称重服务：5次/只
                    </div>
                    <div class="one-detail-item">
                        饲养服务费数量：1个月
                    </div>
                </div>
                <div class="should-pay-money">
                    <div class="pay-money">应付金额: <span>8000</span>元</div>
                    <div class="leave-pay-time">请您在<span>30分钟00秒</span>内完成支付</div>
                </div>
            </div>

            <div class="success-title" style="margin-top: 50px;">支付方式</div>
            <div class="pay-channel-choice">
                <div class="one-pay-channel pay-channel-choiced">
                    <div class="channel-icon">

                    </div>
                    <div class="channel-name">
                        支付宝
                    </div>
                    <div class="channel-pay-money">
                        支付<span>8000</span>元
                    </div>

                </div>
                <div class="one-pay-channel">
                    <div class="channel-icon">

                    </div>
                    <div class="channel-name">
                        银联
                    </div>
                    <div class="channel-pay-money">

                    </div>

                </div>
                <div class="one-pay-channel">
                    <div class="channel-icon">

                    </div>
                    <div class="channel-name">
                        微信
                    </div>
                    <div class="channel-pay-money">

                    </div>

                </div>
                <div class="one-pay-channel">
                    <div class="channel-icon">

                    </div>
                    <div class="channel-name">
                        块钱
                    </div>
                    <div class="channel-pay-money">

                    </div>

                </div>
            </div>
            <div class="sure-to-pay">
                <a href="./success.html">确认支付</a>
            </div>
        </div>

    </div>
</div>
<div id="footer">
    <div class="container footer-container">
        <div class="other-links">
            <div class="footer-title">关于我们</div>
            <div class="footer-item"><a href="javascript:void(0)">平台介绍</a></div>
            <div class="footer-item"><a href="javascript:void(0)">伊牧云</a></div>
        </div>
        <div class="other-links">
            <div class="footer-title">预约考察</div>
            <div class="footer-item"><a href="javascript:void(0)">法律声明</a></div>
        </div>
        <div class="other-links">
            <div class="footer-title">帮助中心</div>
            <div class="footer-item"><a href="javascript:void(0)">常见问题</a></div>
        </div>
        <div class="other-links">
            <div class="footer-title">相关链接</div>
            <div class="footer-item"><a href="javascript:void(0)">追溯监管</a></div>
            <div class="footer-item"><a href="javascript:void(0)">活畜交易</a></div>
        </div>
        <div class="app-download">
            <div class="app-ma">
                <img class="img1" src="../../images/1503393434.png">
                <div>微信公众号</div>
            </div>
        </div>
        <div class="app-download">
            <div class="app-ma">
                <img class="img1" src="../../images/1503393434.png">
                <div>手机APP</div>
            </div>
        </div>

    </div>
    <div class="copy-right">©ALIMAMA MUX, powered by alimama THX.法律声明</div>
</div>
<script src="../../lib/jquery-3.0.0.min.js"></script>
<script src="../../lib/js/bootstrap.min.js"></script>
<script src="../../js/public.js"></script>
</body>
</html>