<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的收货地址</title>
    <link rel="stylesheet" href="../../lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/mine.css">
</head>
<body>
<div id="header">
    <div class="header-container">
        <div class="header-logo">伊牧云</div>
        <div class="header-tabs">
            <div class="tabs"><a href="../../index.html">首页</a></div>
            <div class="tabs"><a href="../../invest.html">投资认领</a></div>
            <div class="tabs"><a href="../../transfer.html">转让抢购</a></div>
            <div class="tabs"><a href="../../active.html">活动专区</a></div>
            <div class="tabs"><a href="../../marks.html">积分商城</a></div>
            <div class="tabs"><a href="../../about.html">关于平台</a></div>
            <div class="tabs"><a href="../../notice.html">公告</a></div>
        </div>
        <div class="user-center user-active">
            墨年的牧场
            <img src="../../images/mine-down.png" style="height: 14px;">
        </div>
    </div>
</div>
<div id="body">
    <div class="mine-panel">
        <div class="mine-panel-left">
            <div class="mine-left-item">
                <a href="#">账号设置</a>
            </div>
            <div class="mine-left-item" style="background-color: #167311">
                <a class="a-active" href="#">我的收获地址</a>
            </div>
            <div class="mine-left-item">
                <a href="#">我的账单</a>
            </div>
            <div class="mine-left-item">
                <a href="#">我的理财账单</a>
            </div>
            <div class="mine-left-item">
                <a href="#">我的关注</a>
            </div>
            <div class="mine-left-item">
                <a href="#">我的活动</a>
            </div>
            <div class="mine-left-item">
                <a href="#">通知中心</a>
            </div>
        </div>
        <div class="mine-panel-right mine-address-right">
            <div class="add-new-address">
                新增收货地址
                <div class="save-address">
                    <a href="#">保存</a>
                </div>
            </div>
            <div class="add-panel">
                <div class="add-item-position">
                    <div class="item-name">
                        所在地区
                    </div>
                </div>
                <div class="add-item-position">
                    <div class="item-name">
                        详细地址
                    </div>
                    <input class="text-input" placeholder="请输入详细地址" type="text">
                    <div class="set-default-address">
                        设为默认收货地址
                    </div>
                </div>
                <div class="add-item-position">
                    <div class="item-name">
                        收货人姓名
                    </div>
                    <input class="text-input" placeholder="请输入收货人姓名" type="text">
                </div>
                <div class="add-item-position">
                    <div class="item-name">
                        联系方式
                    </div>
                    <input class="text-input" placeholder="请输入联系电话" type="text">
                </div>
            </div>


            <div class="add-new-address" style="margin-top: 87px;">
                现有收货地址
            </div>
            <div class="add-panel">
                <div class="added-address">
                    <div class="addre-name">王同学</div>
                    <div class="addre-phone">18810646032</div>
                    <div class="addre-city">北京</div>
                    <div class="addre-detail">北京市海淀区大钟寺东路50号北京广播电视大学</div>
                    <div class="set-default">设为默认</div>
                    <div class="delete">删除</div>
                    <div class="modify">修改</div>
                </div>
                <div class="added-address">
                    <div class="addre-name">王同学</div>
                    <div class="addre-phone">18810646032</div>
                    <div class="addre-city">北京</div>
                    <div class="addre-detail">北京市海淀区大钟寺东路50号北京广播电视大学</div>
                    <div class="set-default">设为默认</div>
                    <div class="delete">删除</div>
                    <div class="modify">修改</div>
                </div>
                <div class="added-address">
                    <div class="addre-name">王同学</div>
                    <div class="addre-phone">18810646032</div>
                    <div class="addre-city">北京</div>
                    <div class="addre-detail">北京市海淀区大钟寺东路50号北京广播电视大学</div>
                    <div class="set-default">设为默认</div>
                    <div class="delete">删除</div>
                    <div class="modify">修改</div>
                </div>
            </div>
        </div>

    </div>


</div>
<div id="footer">
    <div class="container footer-container">
        <div class="other-links">
            <div class="footer-title">关于我们</div>
            <div class="footer-item"><a href="javascript:void(0)">平台介绍</a></div>
            <div class="footer-item"><a href="javascript:void(0)">伊牧云</a></div>
        </div>
        <div class="other-links">
            <div class="footer-title">预约考察</div>
            <div class="footer-item"><a href="javascript:void(0)">法律声明</a></div>
        </div>
        <div class="other-links">
            <div class="footer-title">帮助中心</div>
            <div class="footer-item"><a href="javascript:void(0)">常见问题</a></div>
        </div>
        <div class="other-links">
            <div class="footer-title">相关链接</div>
            <div class="footer-item"><a href="javascript:void(0)">追溯监管</a></div>
            <div class="footer-item"><a href="javascript:void(0)">活畜交易</a></div>
        </div>
        <div class="app-download">
            <div class="app-ma">
                <img class="img1" src="../../images/1503393434.png">
                <div>app下载</div>
            </div>
        </div>
        <div class="app-download">
            <div class="app-ma">
                <img class="img1" src="../../images/1503393434.png">
                <div>app下载</div>
            </div>
        </div>

    </div>
    <div class="copy-right">©ALIMAMA MUX, powered by alimama THX.法律声明</div>
</div>
<script src="../../lib/jquery-3.0.0.min.js"></script>
<script src="../../lib/js/bootstrap.min.js"></script>
<script src="../../js/public.js"></script>
</body>
</html>