<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的理财订单</title>
    <link rel="stylesheet" href="../../lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/finical.css">
    <link rel="stylesheet" href="../../css/finical-detail.css">
</head>
<body>
<div id="header">
    <div class="header-container">
        <div class="header-logo">伊牧云</div>
        <div class="header-tabs">
            <div class="tabs"><a href="../../index.html">首页</a></div>
            <div class="tabs"><a href="../../invest.html">投资认领</a></div>
            <div class="tabs"><a href="../../transfer.html">转让抢购</a></div>
            <div class="tabs"><a href="../../active.html">活动专区</a></div>
            <div class="tabs"><a href="../../marks.html">积分商城</a></div>
            <div class="tabs"><a href="../../about.html">关于平台</a></div>
            <div class="tabs"><a href="../../notice.html">公告</a></div>
        </div>
        <div class="user-center user-active">
            墨年的牧场
            <img src="../../images/mine-down.png" style="height: 14px;">
        </div>
    </div>
</div>
<div id="body">
    <div class="mine-panel">
        <div class="mine-panel-left">
            <div class="mine-left-item">
                <a href="../../user.html">账号设置</a>
            </div>
            <div class="mine-left-item">
                <a href="./address.html">我的收获地址</a>
            </div>
            <div class="mine-left-item">
                <a href="./bill-in.html">我的账单</a>
            </div>
            <div class="mine-left-item" style="background-color: #167311">
                <a class="a-active" href="#">我的理财账单</a>
            </div>
            <div class="mine-left-item">
                <a href="./follow-invest.html">我的关注</a>
            </div>
            <div class="mine-left-item">
                <a href="./active.html">我的活动</a>
            </div>
            <div class="mine-left-item">
                <a href="./notice.html">通知中心</a>
            </div>
        </div>
        <div class="mine-panel-right finical-detail-right">
            <div class="f-detail-tab">
                <a href="./financing-bill.html">我的理财订单</a>><span>转让中订单详情</span>
            </div>
            <div class="financial-item" style="margin-top: 39px;">
                <div class="bill-title">
                    <div class="bill-time">
                        2017/0703 12:34
                    </div>
                    <div class="bill-number">
                        订单号：3325435365
                    </div>
                    <div class="bill-status" style="color: #22891D">
                        转让中
                    </div>
                </div>
                <div class="bill-detail-item" style="padding-left: 0;height: 154px;">
                    <div class="f-invest-type" style="height: 173px;">
                        <div class="f-type">收益方式</div>
                        <div class="f-in-value">浮动收益8%-14%</div>
                    </div>
                    <div class="f-bfinish-pay" style="border: none">
                        <div>转让金额：<span class="fininsh-money">8000</span> 元 </div>
                        <div style="margin-top: 18px;">已经支付：<span class="have-pay">8002</span> 元 剩余 <span class="result-pay">450元 x 10个月</span> 饲养管理费待支付</div>
                        <div style="margin-top: 15px;">预计收益：<span class="have-pay">8002</span> 元 当前收益率： <span class="have-pay">12%</span></div>
                    </div>
                </div>
            </div>

            <div class="pay-channel-choice">
                <table>
                    <tr style="font-weight: bold">
                        <td style="text-align: left;font-size: 14px">产品详情</td>
                        <td style="font-size: 14px">费用名称</td>
                        <td style="font-size: 14px">单价</td>
                        <td style="font-size: 14px">数量</td>
                        <td style="font-size: 14px">总价</td>
                    </tr>
                    <tr>
                        <td rowspan="3" class="pro-analyse">
                            <div class="f-detial-title">产品标题</div>
                            <div class="f-detial-info">品种:安格斯牛</div>
                            <div class="f-detial-info">产品周期:11个月</div>
                            <div class="f-detial-info">产品时间：2017/03/04-2018/03/04</div>
                            <img src="">
                        </td>
                        <td>认领费</td>
                        <td>8000元</td>
                        <td>4</td>
                        <td>32000</td>
                    </tr>
                    <tr>

                        <td>饲养管理费</td>
                        <td>450元/只/月</td>
                        <td>400x1只</td>
                        <td>1800</td>
                    </tr>
                    <tr>

                        <td>称重费</td>
                        <td>500元/次/只</td>
                        <td>4</td>
                        <td>2000</td>
                    </tr>
                </table>
                <div class="have-not-pay">
                    剩余800元待支付
                </div>
            </div>
            <div class="confirm-total">
                合计
                <div class="money-value">
                    35800元
                </div>
                <div class="f-surplus">
                    剩余4500元待支付
                </div>
            </div>
            <div class="expect-profit">
                <div style="float: left">预计收益</div>
                <div style="float:left;margin-left: 240px;">(35800+4500)*(8%~14%)</div>
                <div class="money-value">
                    1076元~1883元
                </div>
            </div>
            <div class="fin-detail-tab">
                <a class="f-detail-msg" href="./f-finish-breed.html">
                    产品详情
                </a>
                <a class="f-detail-msg active" href="#">
                    追溯详情
                </a>
            </div>
            <div class="f-detail-container">
                <div class="f-container-left">
                    <table>
                        <tr>
                            <td class="f-xh">序号</td>
                            <td class="f-erbiao">耳标号</td>
                        </tr>
                        <tr>
                            <td class="f-xh">1</td>
                            <td class="f-erbiao">123456789</td>
                        </tr>
                        <tr>
                            <td class="f-xh">2</td>
                            <td class="f-erbiao">123456789</td>
                        </tr>
                        <tr>
                            <td class="f-xh">3</td>
                            <td class="f-erbiao">123456789</td>
                        </tr>
                    </table>
                </div>
                <div class="f-container-right">
                    <div>追溯详情</div>
                </div>
            </div>
        </div>
    </div>


</div>
<div id="footer">
    <div class="container footer-container">
        <div class="other-links">
            <div class="footer-title">关于我们</div>
            <div class="footer-item"><a href="javascript:void(0)">平台介绍</a></div>
            <div class="footer-item"><a href="javascript:void(0)">伊牧云</a></div>
        </div>
        <div class="other-links">
            <div class="footer-title">预约考察</div>
            <div class="footer-item"><a href="javascript:void(0)">法律声明</a></div>
        </div>
        <div class="other-links">
            <div class="footer-title">帮助中心</div>
            <div class="footer-item"><a href="javascript:void(0)">常见问题</a></div>
        </div>
        <div class="other-links">
            <div class="footer-title">相关链接</div>
            <div class="footer-item"><a href="javascript:void(0)">追溯监管</a></div>
            <div class="footer-item"><a href="javascript:void(0)">活畜交易</a></div>
        </div>
        <div class="app-download">
            <div class="app-ma">
                <img class="img1" src="../../images/1503393434.png">
                <div>微信公众号</div>
            </div>
        </div>
        <div class="app-download">
            <div class="app-ma">
                <img class="img1" src="../../images/1503393434.png">
                <div>手机APP</div>
            </div>
        </div>

    </div>
    <div class="copy-right">©ALIMAMA MUX, powered by alimama THX.法律声明</div>
</div>
<script src="../../lib/jquery-3.0.0.min.js"></script>
<script src="../../lib/js/bootstrap.min.js"></script>
<script src="../../lib/jquery.cityselect.js"></script>
<script src="../../js/public.js"></script>
<script src="../../js/mine-address.js"></script>

</body>
</html>