<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的关注</title>
    <link rel="stylesheet" href="../../lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/mine.css">
</head>
<body>
<div id="header">
    <div class="header-container">
        <div class="header-logo">伊牧云</div>
        <div class="header-tabs">
            <div class="tabs"><a href="../../index.html">首页</a></div>
            <div class="tabs"><a href="../../invest.html">投资认领</a></div>
            <div class="tabs"><a href="../../transfer.html">转让抢购</a></div>
            <div class="tabs"><a href="../../active.html">活动专区</a></div>
            <div class="tabs"><a href="../../marks.html">积分商城</a></div>
            <div class="tabs"><a href="../../about.html">关于平台</a></div>
            <div class="tabs"><a href="../../notice.html">公告</a></div>
        </div>
        <div class="user-center user-active">
            墨年的牧场
            <img src="../../images/mine-down.png" style="height: 14px;">
        </div>
    </div>
</div>
<div id="body">
    <div class="mine-panel">
        <div class="mine-panel-left">
            <div class="mine-left-item">
                <a href="#">账号设置</a>
            </div>
            <div class="mine-left-item">
                <a href="./address.html">我的收获地址</a>
            </div>
            <div class="mine-left-item">
                <a href="./bill-in.html">我的账单</a>
            </div>
            <div class="mine-left-item">
                <a href="#">我的理财账单</a>
            </div>
            <div class="mine-left-item" style="background-color: #167311">
                <a class="a-active" href="#">我的关注</a>
            </div>
            <div class="mine-left-item">
                <a href="./active.html">我的活动</a>
            </div>
            <div class="mine-left-item">
                <a href="./notice.html">通知中心</a>
            </div>
        </div>
        <div class="mine-panel-right mine-follow-right">
            <div class="follow-title">
                <div class="invest">
                    <a class="follow-active" href="#">投资认领</a>
                </div>
                <div class="invest" style="margin-left: 60px;">
                    <a href="./follow-transfer.html">转让抢购</a>
                </div>
            </div>
            <div class="follow-list-panel">
                <div class="follow-invest-item">
                    <div class="follow-invest-detail">
                        <img class="follow-detail-img" src="../../images/sample-item.png">
                        <div class="follow-invest-title">
                            宁夏安格斯牛（3个月大）育牛投资
                        </div>
                        <div class="follow-invest-info">
                            品种：安格斯牛 产品周期：11个月<br>
                            剩余75只/共100只
                        </div>
                    </div>
                    <div class="follow-invest-cycle">
                        预期年化收益<br>
                        <span style="font-weight: bold">10.2%</span>
                    </div>
                    <div class="follow-invest-cycle">
                        认领价格<br>
                        <span><span style="color: #D0021B;font-weight: bold;">8500</span>元/只</span>
                    </div>
                    <div class="follow-join-btn">
                        <a href="#">投资认领</a>
                    </div>
                </div>
                <div class="follow-invest-item">
                    <div class="follow-invest-detail">
                        <img class="follow-detail-img" src="../../images/sample-item.png">
                        <div class="follow-invest-title">
                            宁夏安格斯牛（3个月大）育牛投资
                        </div>
                        <div class="follow-invest-info">
                            品种：安格斯牛 产品周期：11个月<br>
                            剩余75只/共100只
                        </div>
                    </div>
                    <div class="follow-invest-cycle">
                        预期年化收益<br>
                        <span style="font-weight: bold">10.2%</span>
                    </div>
                    <div class="follow-invest-cycle">
                        认领价格<br>
                        <span><span style="color: #D0021B;font-weight: bold;">8500</span>元/只</span>
                    </div>
                    <div class="follow-join-btn">
                        <a href="#">投资认领</a>
                    </div>
                </div>
                <div class="follow-invest-item">
                    <div class="follow-invest-detail">
                        <img class="follow-detail-img" src="../../images/sample-item.png">
                        <div class="follow-invest-title">
                            宁夏安格斯牛（3个月大）育牛投资
                        </div>
                        <div class="follow-invest-info">
                            品种：安格斯牛 产品周期：11个月<br>
                            剩余75只/共100只
                        </div>
                    </div>
                    <div class="follow-invest-cycle">
                        预期年化收益<br>
                        <span style="font-weight: bold">10.2%</span>
                    </div>
                    <div class="follow-invest-cycle">
                        认领价格<br>
                        <span><span style="color: #D0021B;font-weight: bold;">8500</span>元/只</span>
                    </div>
                    <div class="follow-join-btn">
                        <a href="#">投资认领</a>
                    </div>
                </div>
                <div class="follow-invest-item">
                    <div class="follow-invest-detail">
                        <img class="follow-detail-img" src="../../images/sample-item.png">
                        <div class="follow-invest-title">
                            宁夏安格斯牛（3个月大）育牛投资
                        </div>
                        <div class="follow-invest-info">
                            品种：安格斯牛 产品周期：11个月<br>
                            剩余75只/共100只
                        </div>
                    </div>
                    <div class="follow-invest-cycle">
                        预期年化收益<br>
                        <span style="font-weight: bold">10.2%</span>
                    </div>
                    <div class="follow-invest-cycle">
                        认领价格<br>
                        <span><span style="color: #D0021B;font-weight: bold;">8500</span>元/只</span>
                    </div>
                    <div class="follow-join-btn">
                        <a href="#">投资认领</a>
                    </div>
                </div>
                <div class="follow-invest-item">
                    <div class="follow-invest-detail">
                        <img class="follow-detail-img" src="../../images/sample-item.png">
                        <div class="follow-invest-title">
                            宁夏安格斯牛（3个月大）育牛投资
                        </div>
                        <div class="follow-invest-info">
                            品种：安格斯牛 产品周期：11个月<br>
                            剩余75只/共100只
                        </div>
                    </div>
                    <div class="follow-invest-cycle">
                        预期年化收益<br>
                        <span style="font-weight: bold">10.2%</span>
                    </div>
                    <div class="follow-invest-cycle">
                        认领价格<br>
                        <span><span style="color: #D0021B;font-weight: bold;">8500</span>元/只</span>
                    </div>
                    <div class="follow-join-btn">
                        <a href="#">投资认领</a>
                    </div>
                </div>
                <div id="Pagination" style="margin-top: 32px;padding-left: 130px"></div>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="container footer-container">
        <div class="other-links">
            <div class="footer-title">关于我们</div>
            <div class="footer-item"><a href="javascript:void(0)">平台介绍</a></div>
            <div class="footer-item"><a href="javascript:void(0)">伊牧云</a></div>
        </div>
        <div class="other-links">
            <div class="footer-title">预约考察</div>
            <div class="footer-item"><a href="javascript:void(0)">法律声明</a></div>
        </div>
        <div class="other-links">
            <div class="footer-title">帮助中心</div>
            <div class="footer-item"><a href="javascript:void(0)">常见问题</a></div>
        </div>
        <div class="other-links">
            <div class="footer-title">相关链接</div>
            <div class="footer-item"><a href="javascript:void(0)">追溯监管</a></div>
            <div class="footer-item"><a href="javascript:void(0)">活畜交易</a></div>
        </div>
        <div class="app-download">
            <div class="app-ma">
                <img class="img1" src="../../images/1503393434.png">
                <div>手机APP</div>
            </div>
        </div>
        <div class="app-download">
            <div class="app-ma">
                <img class="img1" src="../../images/1503393434.png">
                <div>微信公众号</div>
            </div>
        </div>

    </div>
    <div class="copy-right">©ALIMAMA MUX, powered by alimama THX.法律声明</div>
</div>
<script src="../../lib/jquery-3.0.0.min.js"></script>
<script src="../../lib/js/bootstrap.min.js"></script>
<script src="../../lib/jquery.pagination.js"></script>
<script src="../../js/public.js"></script>
<script src="../../js/user-follow.js"></script>
</body>
</html>